#Intro

In [ ]:
#shift+enter to execute
print("Hello world")

Hello world

In [ ]:
# single line comment
# this is data science course
'''
this is used for multiline command
'''

'\nthis is used for multiline command\n'

In [ ]:
# To print some thing in pyton
print("course")

course

In [ ]:
# Both single and double coutes can be used inside the braces

In [ ]:
# Variable -that tends to change

In [ ]:
a=3#means that assigning a value 3 to a variable a
print(a)
b=7

3

In [ ]:
#Gives the memory location id(a)

137974186344752

In [ ]:
id(b)

NameError: ignored

In [ ]:
var1=3
var2=3.567
var3='data science'

In [ ]:
!python --version

Python 3.10.12

In [ ]:
apples = 8
print('I want to buy 8 apples')##string formating
#print(f'I want to buy {apples} apples')

I want to buy 8 apples

In [ ]:
bananas = 16
oranges = 24
print(f'I want to buy {bananas} bananas and {oranges} oranges')

I want to buy 16 bananas and 24 oranges

In [ ]:
#python is casesensitive
bananas =10
Bananas =20

In [ ]:
print(bananas)

10

In [ ]:
print(Bananas)

20

In [ ]:
'''
1. A variaable name should always start with a letter or _
2. Variable cannot start with a number
3. A variable should contain only A-Z,a-z,0-9 and_
4. variable name cannot bee same as python keyword(ex:print)
'''

'\n1. A variaable name should always start with a letter or _\n2. Variable cannot start with a number\n3. A variable should contain only A-Z,a-z,0-9 and_\n4. variable name cannot bee same as python keyword(ex:print)\n'

In [ ]:
'''
@jhon
2vars
var123
'''

In [ ]:
fruit1 = mango
fruit2 = bananas
fruit3 = apple
print(fruit1)

In [ ]:
fruit1,fruit2,fruit3 = 'orange','banana','mango'
print(fruit1,fruit2,fruit3)

orange banana mango

In [ ]:
x = y = z = 'orange'
print(x)
print(y)
print(z)

orange
orange
orange

In [ ]:
x = "Python is Programming Language"
print(x)

Python is Programming Language

In [ ]:
# or
x = "Pyhton"
y = "is"
a = "Programming Language"
print(x,y,a)

Pyhton is Programming Language

In [ ]:
print(x+' '+y+' '+a)

Pyhton is Programming Language

In [ ]:
x = 5
y = 8
print(x+y)
print(x-y)
print(x*y)
print(x/y)

13
-3
40
0.625

In [ ]:
x = 5
y = "jhon"
print(x,y)

5 jhon

##functions

In [ ]:
'''
Scope of a variable
1. Global scope of a variable
2. Local scope of a variable
'''
'''
func
{
  #it tells that what ever is inside this function come under func
}
'''
##Fuctions: Starts with a keyword called def with name of the method
def summation(a,b): ##a,b are called as arguments
  sum = a+b #
  return sum #return a keyword that sends the output back
summation(10,14)

24

In [ ]:
name = 'manasa'
def printname(name):##variables that you define or overwrite stays within a function stays within a function
  print(f'My name is {name}')
printname('kohli')
print(name)

My name is kohli
manasa

In [ ]:
x = 13#global variable
print(f'position 1 {x}')
def multiplication(x,y):
  print(f'position 2 {x}')
  z = 10
  x = 30
  print(f'position 3 {x}')
  prod = x*y*z
  return prod
print(multiplication(x,6))
print(f'position 4 {x}')

position 1 13
position 2 13
position 3 30
1800
position 4 13

In [ ]:
a = 100
a = a+20
print(a)

120

In [ ]:
x = 10
y = 30
x,y = y,x
print(x,y)

30 10

In [ ]:
## Data types
'''
Text : str
Numeric : int,float
Sequence : lists,tuples,Range
Mapping : Dictionaries
Boolean Datatypes : True, False
'''

In [ ]:
x = 'vinay'
type(x)

str

In [ ]:
x = 870
y = 5.87
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
x,y = True,False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [ ]:
x = 1
y = 8.2
z = '3'

In [ ]:
str(y)

'0'

In [ ]:
x = '2'
y = '3'
z = '4'
x = int(x)
y = int(y)
z = int(z)
print(x,y,z)
print(x*y*z)

2 3 4
24

In [ ]:
x = '2'
y = '3'
z = '4'
def sum(x,y,z):
  x = int(x)
  y = int(y)
  z = int(z)
  return x*y*z
sum(x,y,z)

24

In [ ]:
sum(x,y,z)

24

In [ ]:
x = 'apple'

In [ ]:
#indexing
##indexing is always [] square bracket
## always positioning start from 0
x[0]

'a'

In [ ]:
'''
word : apple
positive Indexing : a-0,p-1,p-2,l-3,e-4
Negative Indexing : e- -1,l--2,p--3,p--4,a--5
'''
print(x[0])
print(x[-5])

a
a

In [ ]:
x = 'orange'
x[0:3]#startposition : endposition+1
'''
o-0--6
r-1--5
a-2--4
n-3--3
g-4--2
e-5--1
'''

'ora'

In [ ]:
x[-4:-2]

'an'

In [ ]:
x[-6:]

'orange'

In [ ]:
y = 'pristige'
for m in range(0,len(y)):
  print(m)
  print(y[m])

0
p
1
r
2
i
3
s
4
t
5
i
6
g
7
e

In [ ]:
a = 'manasa'
print('a'in a)

True

In [ ]:
a = 'manasa'
print('m'not in a)

False

In [ ]:
y = 'bhoj reddy engineering college'
if'reddy'in y:

  print('present')
else:
  print('absent')

present

In [ ]:
if'manasa'in y:
  print('present')
else:
  print('absent')

absent

In [ ]:
mynum = 10
print(mynum)
mynum2 = 'manasa'
print(mynum2)
mynum3 = 4.86
print(mynum3)

10
manasa
4.86

In [ ]:
num = []
num.append(20)
num.append('manasa')
num.append(9.8)
print(num)

[20, 'manasa', 9.8]

In [ ]:
name = input("enter the name: ")
print("hello",name)

enter the name: manu
hello manu

In [ ]:
x = 'Hyderabad'
#to convert this string into uppercase
x = x.upper()
x

'HYDERABAD'

In [ ]:
x = 'DATA SCIENCE'
x = x.lower()
x

'data science'

In [ ]:
a = 'I wanted to eat bananas'
#objective here is to replace banana with orange
a.replace("bananas","orange")

'I wanted to eat orange'

In [ ]:
a = 'I want to go delhi'
#to split the sentence into words
a.split(" ")

['I', 'want', 'to', 'go', 'delhi']

In [ ]:
#concatenate two strings
a = "New"
b = "Delhi"
a+' '+b

'New Delhi'

In [ ]:
a+b

'NewDelhi'

Operators

In [ ]:
x = 10
y = 5
print(x>y)
print(x)

True
10

In [ ]:
x = 10
y = 5
z = x>y
print(int(z))

1

In [ ]:
x == y

False

In [ ]:
x<y

False

In [ ]:
x!=y

True

In [ ]:
#python code to declare two variables as 200,33 and use ifelse to print which is greater than
a = 200
b = 33
if a>b:
  print(a)
else:
  print(b)

200

In [ ]:
#usetype conversion to convert hello and 15 into bool
a = "Hello"
b = 15
print(bool(x))
print(bool(y))

True
True

In [ ]:
#python code to declare 45 and cbeck if divisible by both 5 and 9
a = 45
print(45%5) ##% always returns reminder

0

In [ ]:
'''
OR
 A B Output
 0 0  0
 0 1  1
 1 0  1
 1 1  1
AND
 A B Output
 0 0  0
 0 1  0
 1 0  0
 1 1  1
 '''

'\nOR\n A B Output\n 0 0  0\n 0 1  1\n 1 0  1\n 1 1  1\nAND\n A B Output\n 0 0  0\n 0 1  0\n 1 0  0\n 1 1  1\n '

In [ ]:
print(((a % 5) == 0) and ((a % 9) == 0))

True

In [ ]:
#code to dclare a string 'cats  comes from tiger family'
#a.
a = 'cats comes from tiger family'
if 'Tiger' in a:
  print('present')
else:
  print('absent')

absent

In [ ]:
#b.
a.upper()

'CATS COMES FROM TIGER FAMILY'

In [ ]:
#c.
a.lower()

'cats comes from tiger family'

In [ ]:
#d.
a.split(' ')

['cats', 'comes', 'from', 'tiger', 'family']

In [ ]:
#e.
if ('cats' in a) and ('tiger' in a):
  print('true')
else:
  print('false')

true

In [ ]:
#f.
a[5:10]

'comes'

In [ ]:
a[-23:-18]

'comes'

In [ ]:
#g.
for i in a:
  print(i)

c
a
t
s

c
o
m
e
s

f
r
o
m

t
i
g
e
r

f
a
m
i
l
y

In [ ]:
#h.
len(a)

28

In [ ]:
#e.
if 'cats and tiger' in a:
  print('true')
else:
  print('false')

false

##List

In [ ]:
'''
 variable carrying a single value
 []
 '''
x = ['apples','mangos','oranges']
y = ['apples',1,2,13,True,False]
z = [1,3,54,5656,34]
m = [True,False,True]

In [ ]:
type(x)

list

In [ ]:
x[0]

'apples'

In [ ]:
x[-1]

'oranges'

In [ ]:
len(x)

3

In [ ]:
x=[i%2 == 0 for i in range(1,21)]
x

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

In [ ]:
'''
1. Lists are mutable -add,delete
2. Ordered
'''

'\n1. Lists are mutable -add,delete\n2. Ordered\n'

In [ ]:
for i in x:
  print(i)

apples
mangos
oranges

In [ ]:
for i in range(0,len(x)):
  print(x[i])

apples
mangos
oranges

In [ ]:
import string
alphabet_series = string.ascii_lowercase
print(alphabet_series)

abcdefghijklmnopqrstuvwxyz

In [ ]:
# A program to reverse a string canvas
x = 'canvas'
x[: : -1]

'savnac'

In [ ]:
# program to count vowels and consonents in a string: "Rome is city"
x = input("enter a string:")
x.lower()
v = 0
c = 0
for words in x:
  for letter in words:
    if (letter == 'a' or letter == 'e' or letter == 'i' or letter == 'o' or letter ==  'u'):
      v+= 1
    else:
      c+= 1
print(f'the number of vowel are {v},the number of consonets are {c}')

enter a string:Rome is city
the number of vowel are 4,the number of consonets are 8

In [ ]:
#program to count no of letters in the string:"Covid10 is affected"
x = input("enter a string:")
c = 0
for words in x:
  c+= len(words)
print(f'the number of letters in the string are{c} ')

enter a string:covid10 is affected
the number of letters in the string are19

In [ ]:
#to print count of numeric,upper,lower and speciall characters in "@pyTh)nlobb!Y34"
x = input("enter a string:")
n = 0
u = 0
l = 0
s = 0

for letter in x:
  if letter.isdigit():
      n+= 1
  elif letter.islower():
      l+= 1
  elif letter.isupper():
      u+= 1
  else:
      s+= 1
print(f'numeric:{n}\nupper:{u}\nlower:{l}\nspecial:{s}')

enter a string:@pyTh)nlobb!Y34
numeric:2
upper:2
lower:8
special:3

In [ ]:
'''
python code to create a list of 10 numbers from 0 to 9
i. print even no
ii. print odd no
iii.append 10 to even nos and 11 to odd numbers
'''

'\npython code to create a list of 10 numbers from 0 to 9\ni. print even no\nii. print odd no\niii.append 10 to even nos and 11 to odd numbers\n'

In [ ]:
#x = [0,1,2,3,4,5,6,7,8,9]
l2 = []
for i in range(0,10):
  l2.append(i)
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#for iteration we use for loop

In [ ]:
#i
even = []
for i in l2:
  if i%2==0:
    even.append(i)
print(even)

[0, 2, 4, 6, 8]

In [ ]:
#ii
odd = []
for i in l2:
  if i%2!=0:
    odd.append(i)
print(odd)

[1, 3, 5, 7, 9]

In [ ]:
even.append(10)
print(even)

[0, 2, 4, 6, 8, 10]

In [ ]:
odd.append(11)
print(odd)

[1, 3, 5, 7, 9, 11, 11, 11, 11, 11]

In [ ]:
odd.remove(11)
print(odd)

[1, 3, 5, 7, 9, 11]

In [ ]:
l1 = []
for i in range(0,10):
  l1.append(i)
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
even = []
odd = []
for i in l1:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print("even numbers are:",even)
print("odd numbers are:",odd)

even numbers are: [0, 2, 4, 6, 8]
odd numbers are: [1, 3, 5, 7, 9]

In [ ]:
word = ["madam",'3643',"apple",'3756']
count = 0
for i in word:
  if ((i[0] == i[-1]) and (len(i)>1)):
    count = count+1

In [ ]:
count

2

In [ ]:
#1. python code to sum all the numbers
a = [1,7,-10,34,2,-8]
sum = 0
for i in a:
  sum+= i
print(sum)

26

In [ ]:
#2.pyhton code to multiply all no in the list
a = [3,4,5,4,7]
mul = 1
for i in a:
  mul*= i
print(mul)

1680

In [ ]:
# 3.Write a Python program to get the largest number from a list
a = [1,7,10,34,2,8]
print(max(a))

34

In [ ]:
#4. Write a Python program to get the smallest number from a list
a = [51,7,10,34,2,8]
print(min(a))

2

In [ ]:
#5.Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
a = ["manasa",'1',"yadala",'1221']
c = 0
for i in word:
  if len(i)>1 and i[0]==i[-1]:
    c+=1
print(c)

NameError: ignored

In [ ]:
#6. Write a Python program to remove duplicates from a list
a = [1,2,5,6,3,5,3,0,7,8,9,6,8,7,9,0]
list(set(a))

[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:
#7.Write a Python program to check a list is empty or not
a = ['1','2','3']
if a!=[]:
  print("not empty")
else:
  print("empty")

not empty

In [ ]:
#8. Write a Python program to clone or copy a list
a = ['1','2','3']
b = []
b.extend(a)
print(b)

['1', '2', '3']

In [ ]:
#9.  Write a Python program to find the list of words that are longer than n from a given list of words
def long_word(n,str):
  word_len = []
  txt = str.split(" ")
  for x in txt:
    if len(x)>n:
      word_len.append(x)
  return word_len
print(long_word(2,"one and only is the thing"))

['one', 'and', 'only', 'the', 'thing']

In [ ]:
#10. Write a Program that get two lists as input and check if they have at least one common member
def common_word(l1,l2):
    result = False
    for x in l1:
        for y in l2:
            if x==y:
                result = True
                return result
print(common_word([1,2,3,4,5],[5,6,7,8,9]))

True

In [ ]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))

True

In [ ]:
list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
result = False
for x in list1:
 for y in list2:
	 if x == y:
		 result = True
		 print(result)
if result:
    print("Lists have at least one common member")
else:
    print("Lists do not have any common member")

True
Lists have at least one common member

In [ ]:
#11. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. (enumerate)
a = ["man","cat","dog","ant","fox","rat"]
a = [x for (i,x)in enumerate(a) if i not in(0,4,5)]
print(a)

['cat', 'dog', 'ant']

In [ ]:
#12. Write a Python program to print the numbers of a specified list after removing even numbers from it
a = [1,2,3,4,5,6,7,8,9,51]
even = []
odd = []
for i in a:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 51]

In [ ]:
#13. Write a Python program to shuffle and print a specified list (shuffle)
from random import shuffle
a = ["man","cat","dog","ant","fox","rat"]
shuffle(a)
print(a)

['rat', 'fox', 'cat', 'man', 'ant', 'dog']

In [ ]:
#14. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30
a = list()
for i in range(1,30):
  a.append(i**i)
print(a[:5])
print(a[-5:])

[1, 4, 27, 256, 3125]
[88817841970012523233890533447265625, 6156119580207157310796674288400203776, 443426488243037769948249630619149892803, 33145523113253374862572728253364605812736, 2567686153161211134561828214731016126483469]

In [ ]:
#15. Write a Python program to generate all permutations of a list in Python. (itertools)
a = [1,2,3]
import itertools
list(itertools.permutations(a))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
#16. Write a Python program to convert a list of characters into a string
a = ['m','a','n','a','s','a']
string = ''.join(a)
print(string)

manasa

In [ ]:
#17. Write a Python program to find the index of an item in a specified list
a = [1,90,85,64,89,76]
print(a.index(64))

3

In [ ]:
#18. Write a Python program to flatten a shallow list
y = [[12,14,76],[86,75,9],[90,64,24]]
shal = []
for i in y:
  for j in i:
    shal.append(j)
print(shal)

[12, 14, 76, 86, 75, 9, 90, 64, 24]

In [ ]:
#19. Write a Python program to add a list to the second list
y = [1,2,3,4,56]
z = ["fan","box","sun"]
print(y+z)

[1, 2, 3, 4, 56, 'fan', 'box', 'sun']

In [ ]:
'''
name = ['snowball','chewy','bubbles','gruff']
animal = ['cat','dog','fish','gaot']
age = [1,2,2,6]
'''

"\nname = ['snowball','chewy','bubbles','gruff']\nanimal = ['cat','dog','fish','gaot']\nage = [1,2,2,6]\n"

In [ ]:
name = ['snowball','chewy','bubbles','gruff']
animal = ['cat','dog','fish','gaot']
age = [1,2,2,6]
for x,y,z in zip(name,animal,age):
  print(f'{x} {y} is {z}')

snowball cat is 1
chewy dog is 2
bubbles fish is 2
gruff gaot is 6

In [ ]:
'''
write the pyhton  code to find reverse of the list[100,200,300,400,500]
'''
l = [100,200,300,400,500]
l[: :-1]

[500, 400, 300, 200, 100]

In [ ]:
l1 = ["m","na","i","ke"]
l2 = ["y","me","s","lly"]
for x,y in zip(l1,l2):
  print(f'{x}{y}')

my
name
is
kelly

In [ ]:
l1 = ["m","na","i","ke"]
l2 = ["y","me","s","lly"]
a = []
for x,y in zip(l1,l2):
  k = x+y
  a.append(k)
" ".join(a)

'my name is kelly'

In [ ]:
a

['my', 'name', 'is', 'kelly']

In [ ]:
'''
python code
l1 = ["hello","take"]
l2 = ["dear","son"]
op:
['hello dear','hello son','take dear','take son']
'''

'\npython code\nl1 = ["hello","take"]\nl2 = ["dear","son"]\nop:\n[\'hello dear\',\'hello son\',\'take dear\',\'take son\']\n'

In [ ]:
l1 = ["hello","take"]
l2 = ["dear","son"]
a = []
for x in l1:
  for y in l2:
    k = x+" "+y
    a.append(k)
print(a)

['hello dear', 'hello son', 'take dear', 'take son']

In [ ]:
a

['hello dear', 'hello son', 'take dear', 'take son']

In [ ]:
#20. Write a Python program to select an item randomly from a list Using random.choice()
import random
a = ["manasa","priyanka","sowmya","harshi","dinu"]
print(random.choice(a))

harshi

In [ ]:
l1 = [10,20,30,40]
l2 = [100,200,300,400]
l3 = l2[::-1]
for x,y in zip(l1,l3):
  print(f'{x} {y}')

10 400
20 300
30 200
40 100

In [ ]:
'''
1. remove empty strings from the list of strings l = ["mike","emma","kelly","","brad"]
2. list1 = [10,20[300,400[500,600],500],30,40]
           [10,20,[3300,400,[5000,6000,7000],500],30,40] append 7000 to the list
'''

In [ ]:
#1.
l = ["mike","emma","kelly","","brad"]
l.remove("")
print(l)

['mike', 'emma', 'kelly', 'brad']

In [ ]:
#2.
list1 = [10, 20, [300, 400, [5000 ,6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
'''
3.replace list's item with new value if found
you have  given a python list. write a program to find value 20 in the list,
and if it is present ,replace it with 200.only update the first occurance of an item.
4. remove all occurances of a specific item from a list.
given a pyhton list,write a program to remove all occurrences of item 20
'''

"\n3.replace list's item with new value if found \nyou have  given a python list. write a program to find value 20 in the list,\nand if it is present ,replace it with 200.only update the first occurance of an item.\n4. remove all occurances of a specific item from a list.\ngiven a pyhton list,write a program to remove all occurrences of item 20\n"

In [ ]:
#3.
l1 = [5,10,20,25,50,20]
index = l1.index(20)
l1[index] = 200
print(l1)

[5, 10, 200, 25, 50, 20]

In [ ]:
l1 = [int(i) for i in input().split()]
for i in range(0,len(l1)):
  if (l1[i]==20):
    n = 200
    l1[i]=n
    break
print(l1)

10 20 30 20
[10, 200, 30, 20]

In [ ]:
#4.
a = [10,5,20,7,20,98,28,20]
while 20 in a:
  a.remove(20)
print(a)

[10, 5, 7, 98, 28]

In [ ]:
a = [10,5,20,7,20,98,28,20]
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]

res = remove_value(a, 20)
print(res)

[10, 5, 7, 98, 28]

In [ ]:
#21. Write a python program to check whether two lists are circularly identical
l1 = [8, 8, 12, 12, 8]
l2 = [8, 8, 8, 12, 12]
l3 = [1, 8, 8, 12, 12]
print("compare l1 and l2 : ",' '.join(map(str,l2))in ' '.join(map(str,l1 * 2)))
print("compare l2 and l3 : ",' '.join(map(str,l3))in ' '.join(map(str,l2 * 2)))

compare l1 and l2 :  True
compare l2 and l3 :  False

In [ ]:
#22. Write a Python program to find the second smallest number in a list
a = [9,7,4,8,6,5]
s = set(a)
print(sorted(s)[1])

5

In [ ]:
#23. Write a Python program to find the second largest number in a list
a = [9,7,4,8,6,5]
s = set(a)
print(sorted(s)[-2])

8

In [ ]:
#24. Write a Python program to get unique values from a list
x = [2,9,83,75,64,2]
print("Original_list: ",x)
s = set(x)
new_list = list(s)
print("Unique_numbers: ",new_list)

Original_list:  [2, 9, 83, 75, 64, 2]
Unique_numbers:  [64, 2, 9, 75, 83]

In [ ]:
#25. Write a Python program to get the frequency of the elements in a list.
a = [10,30,64,90,10,30,64,85,10,85,64]
import collections
print("Original _list: ",a)
f = collections.Counter(a)
print("frequency of elements is: ",f)

Original _list:  [10, 30, 64, 90, 10, 30, 64, 85, 10, 85, 64]
frequency of elements is:  Counter({10: 3, 64: 3, 30: 2, 85: 2, 90: 1})

In [ ]:
#26. Create a list by concatenating a given list which range goes from 1 to n
l = [(i)for i in input().split()]
n=int(input())
x = ['{}{}'.format(a,b) for b in range(0,n+1) for a in l]
print(x)

m n
5
['m0', 'n0', 'm1', 'n1', 'm2', 'n2', 'm3', 'n3', 'm4', 'n4', 'm5', 'n5']

##Tuples

In [ ]:
mytuples = ("apple","banana","cherry")

In [ ]:
tup = ("apple","banana","cherry","apple","cherry")
len(tup)

5

In [ ]:
type(tup)

tuple

In [ ]:
tup1 = ("apple","banana","cherry")
tup2 = (1,2,4,8,9)
tup3 = (True,False,False)
tup4 = ("abc",34,True,40,"male")

In [ ]:
tup = ("apple","banana","cherry","apple","cherry")
tup[0]

'apple'

In [ ]:
if "apple" in tup:
  print("present")
else:
  print("absent")

present

In [ ]:
tup[:-1]

('apple', 'banana', 'cherry', 'apple')

In [ ]:
tup.append(orange)

AttributeError: ignored

In [ ]:
tup[1:]

('banana', 'cherry', 'apple', 'cherry')

In [ ]:
l1 = list(tup)
l1.append('orange')
tup = tuple(l1)

In [ ]:
tup

('apple', 'banana', 'cherry', 'apple', 'cherry', 'orange')

In [ ]:
for i in tup:
  print(i)

apple
banana
cherry
apple
cherry
orange

In [ ]:
tup.remove("orange")

AttributeError: ignored

In [ ]:
#27. Write a Python program to get variable unique identification number or string
x = int(input())
y = str((i) for i in input().split())
id(x)

98564
manasa

137407494848112

In [ ]:
id(y)

137407494333296

In [ ]:
#29. Write a Python program to split a list based on first character of word
x = ["an","bat","cup","fox","cat","dip","dog","ant","gun","got"]
b = x.copy()
l1 = []
for i in range(0,len(x)):
  temp = []
  for j in range(0,len(b)):
    if (x[i][0] == b[j][0]):
      #temp.append(x[i])
      temp.append(b[j])
  l1.append(temp)

print(l1)

[['an', 'ant'], ['bat'], ['cup', 'cat'], ['fox'], ['cup', 'cat'], ['dip', 'dog'], ['dip', 'dog'], ['an', 'ant'], ['gun', 'got'], ['gun', 'got']]

In [ ]:
f = []
for k in l1:
  if k not in f:
    print(k[0][0])
    for j in k:

      print(j)

a
an
ant
b
bat
c
cup
cat
f
fox
c
cup
cat
d
dip
dog
d
dip
dog
a
an
ant
g
gun
got
g
gun
got

In [ ]:
f = []
for k in l1:
  if k not in f:
    f.append(k)
    print(k[0][0],k)

a ['an', 'ant']
b ['bat']
c ['cup', 'cat']
f ['fox']
d ['dip', 'dog']
g ['gun', 'got']

In [ ]:
f = []
for k in l1:
  if k not in f:
    f.append(k)
print(f)

[['an', 'ant'], ['bat'], ['cup', 'cat'], ['fox'], ['dip', 'dog'], ['gun', 'got']]

In [ ]:
for k in f:
  print(k[0][0])
  for j in k:
    print(j)

a
an
ant
b
bat
c
cup
cat
f
fox
d
dip
dog
g
gun
got

In [ ]:
f = []
for k in l1:
  if k not in f:
    f.append(k)
    print(f)
    for k in f:
      print(k[0][0])
      for j in k:
          print(j)

[['an', 'ant']]
a
an
ant
[['an', 'ant'], ['bat']]
a
an
ant
b
bat
[['an', 'ant'], ['bat'], ['cup', 'cat']]
a
an
ant
b
bat
c
cup
cat
[['an', 'ant'], ['bat'], ['cup', 'cat'], ['fox']]
a
an
ant
b
bat
c
cup
cat
f
fox
[['an', 'ant'], ['bat'], ['cup', 'cat'], ['fox'], ['dip', 'dog']]
a
an
ant
b
bat
c
cup
cat
f
fox
d
dip
dog
[['an', 'ant'], ['bat'], ['cup', 'cat'], ['fox'], ['dip', 'dog'], ['gun', 'got']]
a
an
ant
b
bat
c
cup
cat
f
fox
d
dip
dog
g
gun
got

In [ ]:
#30. Write a Python program to select the odd number of a list
a = [int(i) for i in input ().split()]
b = []
for i in a:
  if i%2!=0:
    b.append(i)
print(b)

2 64 71 87 90
[71, 87]

In [ ]:
#31. Write a Python Program to count unique values inside a list
a = (int(x) for x in input().split())
b = []
for i in a:
  if i not in b:
    b.append(i)
print(b)
len(b)

30 20 30 64 76 54 64
[30, 20, 64, 76, 54]

5

In [ ]:
#32. Write a Python Program to List product excluding duplicates
a = [int(x) for x in input().split()]
b = []
c = 1
for i in a:
  if i not in b:
    b.append(i)
    c*=i
print(b)
print(c)

30 20 30 64 76 54 64
[30, 20, 64, 76, 54]
157593600

In [ ]:
#33. Write a Python Program to Extract elements with Frequency greater than K
a = [int(x) for x in input().split()]
import collections
print("Original _list: ",a)
f = collections.Counter(a)
print("frequency of elements is: ",f)
k = 2
if f>k and
  print("original_list:",f>k)

2  2 2 3 3 5 5 6 6 7 7 7
Original _list:  [2, 2, 2, 3, 3, 5, 5, 6, 6, 7, 7, 7]
frequency of elements is:  Counter({2: 3, 7: 3, 3: 2, 5: 2, 6: 2})

TypeError: ignored

In [ ]:
a = [int(x) for x in input().split()]
k = int(input())
n = []
for i in a:
  f = a.count(i)
  if f > k and i not in n:
    n.append(i)
print(n)

9 10 9 6 8 8 9 8
2
[9, 8]

In [ ]:
#34. Write a Python Program to Test if List contains elements in Range
l1 = [4,5,6,7,9]
min = 3
max = 10
flag = False
for i in l1:
  if((i >= min) and (i <= max)):
    flag = True
  else:
    flag = False

In [ ]:
flag

True

In [ ]:

l = [int(x) for x in input().split()]
a = int(input())
b = int(input())
res = "false"
for i in l:
  if i<a or i>=b:
    res = "true"
    break
print(res)

1 2 3 4 5
1
7
false

## Sets

In [ ]:
myset = {"apple","banana","cherry"}

In [ ]:
myset

{'apple', 'banana', 'cherry'}

In [ ]:
'''
unordered
unchangeble
unindexed
'''

'\nunordered\nunchangeble\nunindexed\n'

In [ ]:
#sets remove the duplicates and prints only unique value
thisset={"apple","banana","cherry","apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
#sets assume true as 1
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [ ]:
set1 = {"apple","banana","cherry"}
set2 = {1,2,3,4}
set3 = {True,False,True}
set4 = {"apple",1,2,True}

In [ ]:
for i in set1:
  print(i)

apple
banana
cherry

In [ ]:
for i in range(0,set1):
  print(set1[i])

TypeError: ignored

In [ ]:
steset1.add("orange")
print(set1)

{'apple', 'orange', 'banana', 'cherry'}

In [ ]:
set1.union(set2)

{1, 2, 3, 4, 'apple', 'banana', 'cherry', 'orange'}

In [ ]:
s1 = {"a","b","c",2,3}
s2 = {"a","c",3,9,0}
l = []
for i in s1:
  for j in s2:
    if i == j:
      l.append(i)
print(l)

[3, 'c', 'a']

In [ ]:
"a" in s1

True

In [ ]:
if "a" in s1:
  print("present")

present

In [ ]:
s1.update(s2)

In [ ]:
s1

{0, 2, 3, 9, 'a', 'b', 'c'}

In [ ]:
s1 = {"green","blue"}
s2 = {"yellow","blue"}
s1.difference(s2)

{'green'}

In [ ]:
s = {26,98,78,9576,9765,76}
min(s)

26

In [ ]:
max(s)

9765

In [ ]:
#35. Write a Python program to check if the list contains three consecutive common numbers in Python
a = [int(x) for x in input().split()]
b = len(a)
for i in range(b-2):
  if a[i]==a[i+1] and a[i+1]==a[i+2]:
    print(a[i])

1 1 1 2 2 3 3 3 4 5 6 6 6 7 5 4 5
1
3
6

In [ ]:
#36. Write a Python program to find the Strongest Neighbour
n = 6
y = [10,20,30,20,30,400]
x = []
for i in range(1, n):
    r = max(y[i], y[i-1])
    x.append(r)
for i in x :
    print(i,end=" ")

20 30 30 30 400

In [ ]:
#36. Write a Python program to find the Strongest Neighbour
n = [int(i) for i in input().split()]
a = []
for i in range(0,len(n)-1):
  r = max(n[i],n[i+1])
  a.append(r)
print(a)

10 20 30 20 30 400
[20, 30, 30, 30, 400]

In [ ]:
#37. Write a Python Program to print all Possible Combinations from the three Digits
a = [1,2,3]
for i in range(3):
  for j  in range(3):
    for k in range(3):
      if(i!=j and j!=k and k!=i):
        print(a[i],a[j],a[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#38. Write a Python program to find all the Combinations in the list with the given condition
l1 = ['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]
l2 = []
for i in range(1,len(l1)):
  temp = []
  for j in l1[i]:
    temp.append(l1[0])
  temp.append(j)
l2.append(temp)
print(l2)

[['Tutor Joes', 'Tutor Joes', 'Education']]

##Dictionaries

In [ ]:
thisdict = {"brand":"ford","model":"mustang","year":1964}
'''
1.{}
2.key : value(pairs)
3.to access values in the dictionary,we need to use keys
'''

'\n1.{}\n2.key : value(pairs)\n3.to access values in the dictionary,we need to use keys\n'

In [ ]:
thisdict

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
thisdict['model']

'mustang'

In [ ]:
len(thisdict)

3

In [ ]:
thisdict = {
    "brand":"ford",
    "electric":False,
    "year":1964,
    "colors":["red","white","blue"]
}

In [ ]:
thisdict

{'brand': 'ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [ ]:
#to get list of keys
thisdict.keys()

dict_keys(['brand', 'electric', 'year', 'colors'])

In [ ]:
thisdict['sales'] = 2000

In [ ]:
thisdict

{'brand': 'ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue'],
 'sales': 2000}

In [ ]:
thisdict.values()

dict_values(['ford', False, 1964, ['red', 'white', 'blue'], 2000])

In [ ]:
thisdict.items()

dict_items([('brand', 'ford'), ('electric', False), ('year', 1964), ('colors', ['red', 'white', 'blue']), ('sales', 2000)])

In [ ]:
'sales' in thisdict #this checks only if there is a matching key

True

In [ ]:
False in thisdict

False

In [ ]:
False in thisdict.values()

True

In [ ]:
thisdict['year'] = 2023

In [ ]:
thisdict

{'brand': 'ford',
 'electric': False,
 'year': 2023,
 'colors': ['red', 'white', 'blue'],
 'sales': 2000}

In [ ]:
thisdict.pop('year')#pop is used to remove

2023

In [ ]:
thisdict

{'brand': 'ford',
 'electric': False,
 'colors': ['red', 'white', 'blue'],
 'sales': 2000}

In [ ]:
for x in thisdict:
  print(x)

brand
electric
colors
sales

In [ ]:
for x in thisdict:
  print(thisdict[x])

ford
False
['red', 'white', 'blue']
2000

In [ ]:
for x in thisdict.values():
  print(x)

ford
False
['red', 'white', 'blue']
2000

In [ ]:
for x in thisdict.keys():
  print(x)

brand
electric
colors
sales

In [ ]:
for x,y in thisdict.items():
  print(f'keys:{x}')
  print(f'values:{y}')

keys:brand
values:ford
keys:electric
values:False
keys:colors
values:['red', 'white', 'blue']
keys:sales
values:2000

##nested dictionaries

In [ ]:
##nested dictionaries
myfamily={"child1":{"name":"emil","year":2004},
          "child2":{"name":"tobies","year":2007},
          "child3":{"name":"linus","year":2011}
}

In [ ]:
'''
write a pyhton program script to sort (ascending) a dictionary by value
{1:2,3:4,4:3,2:1,0:0}
'''
a = {1:2,3:4,4:3,2:1,0:0}
sort = sorted(a.values())
print(sort)

TypeError: ignored

In [ ]:
'''
write a python  program to add a key to a dictionay
x = {"name":"ram","age":23,}
add_key ={"city":"saleem"}
'''
x = {"name":"ram","age":23,}
x['city'] = "saleem"

In [ ]:
x

{'name': 'ram', 'age': 23, 'city': 'salem'}

In [ ]:
d1 = {"name":"ram","age":23,}
d2 = {"city":"saleem"}
d1.update(d2)

In [ ]:
d1

{'name': 'ram', 'age': 23, 'city': 'saleem'}

In [ ]:
d1 = {"name":"ram","age":23,}
d2 = {"city":"saleem"}

In [ ]:
key = list(d2.keys())
value = list(d2.values())
print(key)
d1[key[0]]=value[0]

['city']

In [ ]:
#48. Write a Python Program to Split Strings on Prefix Occurrence

In [ ]:
#39. Write a Python program to get all unique combinations of two Lists
a = [str(i) for i in input().split()]
b = [int(i) for i in input().split()]
c = []
for i in range(0,len(a)):
  for j in range(0,len(b)):
    c.append((a[i],b[j]))
print(c)

a b c
1 2 3
[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [ ]:
#40. Write a Python program to remove all the occurrences of an element from a list
a = [1, 3, 4, 6, 5, 1]
b = set(a)
c = list(b)

In [ ]:
c

[1, 3, 4, 5, 6]

In [ ]:
b

{1, 3, 4, 5, 6}

In [ ]:
#40. Write a Python program to remove all the occurrences of an element from a list
a = [int(i) for i in input().split()]
b = []
for i in range(0,len(a)):
  f=a.count(i)
  if f==1:
    b.append(i)
print(b)

1 3 4 7 5 1
[3, 4, 5]

In [ ]:
#41. Write a Python Program to Remove Consecutive K element records
def k(a):
  b = []
  for i in a:
    if(len(i)==len(set(i))):
      b.append(i)
  print(b)
a = [ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]
k(a)

[('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

In [ ]:
#42. Write a Python Program to Replace index elements with elements in Other List
a = ['Tutor Joes', 'Computer', 'Education']
b = [2 ,1 ,0 ,1 ,0 ,2 ,2 ,0 ,1 ,0 ,1 ,2]
print("List 1 : ",a)
print("List 2 : ",b)
re = [a[i] for i in b]
print("after replacing index elements with elements in other list : ",re)

List 1 :  ['Tutor Joes', 'Computer', 'Education']
List 2 :  [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
after replacing index elements with elements in other list :  ['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [ ]:
#43. Write a Python Program to Retain records with N occurrences of K
a = [(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
print(a)
k = 5
n = 2
b = [i for i in a if i.count(k)==n]
print(b)

[(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
[(4, 5, 6, 5, 4), (5, 5, 2)]

In [ ]:
#44. Write a Python Program to Swap elements in String list
a = ["Tutor","joes","Computer","Education"]

print("Before Swap :",a)

res = [sub.replace("joes","Joe's").replace("Computer", "Software").replace("Education", "Solutions") for sub in a]

print ("After Swap : ",res)

Before Swap : ['Tutor', 'joes', 'Computer', 'Education']
After Swap :  ['Tutor', "Joe's", 'Software', 'Solutions']

In [ ]:
#45. Write a Python program to reverse All Strings in String List
a = ["Tutor","joes","Computer","Education"]
print(a)
b = [i[: : -1]for i in a]
print("reversed list: ",b)

['Tutor', 'joes', 'Computer', 'Education']
reversed list:  ['rotuT', 'seoj', 'retupmoC', 'noitacudE']

In [ ]:
#46. Write a Python program to find the character position of Kth word from a list of strings
a = ["Tutor","joes","Computer","Education"]
print(a)
k = 20
res = [i[0] for sub in enumerate(a) for i in enumerate(sub[1])]
res = res[k]
print("Index of character at Kth position word : " + str(res))

['Tutor', 'joes', 'Computer', 'Education']
Index of character at Kth position word : 3

In [ ]:
#47. Write a Python Program to Prefix frequency in string List
a = ["TjC","TjCpp","TjPython","Java"]
print(a)
sub = 'Tj'
b = 0
for i in a:
  if i.startswith(sub):
    b = b+1
print(b)

['TjC', 'TjCpp', 'TjPython', 'Java']
3

In [ ]:
#48. Write a Python Program to Split Strings on Prefix Occurrence
a = ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
print(a)
pref = "Tj"
b = []
for i in a:
  if i.startswith(pref):
    b.append([i])
  else:
    b[-1].append([i])
print((b))

['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
[['TjC'], ['TjCpp'], ['TjPython', ['Java'], ['tj']]]

In [ ]:
#49. Write a Python program to Replace all Characters of a List Except the given character
a = ['D','A','T','A','S','C','I','N','C','E']
print(a)
b = [i if i == 'T' else '@' for i in a]
print(b)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'N', 'C', 'E']
['@', '@', 'T', '@', '@', '@', '@', '@', '@', '@']

In [ ]:
#50. Write a Python Program to Add Space between Potential Words
a = ['TutorJoes', 'ComputerEducations']
b = []
for i in a:
  s = ""
  for j in i:
    if(j.isupper()):
      s=s+" "+j
    else:
      s=s+j
  b.append(s)
print(b)

[' Tutor Joes', ' Computer Educations']

##Dictionaries priblems

In [ ]:
#1. Write a Python script to sort (ascending and descending) a dictionary by value.
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
myval = list(d.values())
myval.sort()
sortedc = {d[i]:i for i in myval}
print(sortedc)

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [ ]:
myval.sort(reverse=True)
myval

sortedd={d[i]:i for i in myval}
print(sortedd)

{3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
#2. Write a Python program to add a key to a dictionary
di = {"Name" : "Ram" , "Age" : 23}
a = {"City" : "Salem"}
key = list(a.keys())
value = list(a.values())
print(key)
di[key[0]]=value[0]

['City']

In [ ]:
di = {"Name" : "Ram" , "Age" : 23}
di["city"] = "saleem"

In [ ]:
di

{'Name': 'Ram', 'Age': 23, 'city': 'saleem'}

In [ ]:
#3. Write a Python program to concatenate following dictionaries to create a new one.
d1 = {"Name" : "Ram" , "Age" : 23}
d2 = {"City" : "Salem", "Gender" : "Male"}
d1.update(d2)

In [ ]:
d1

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}

In [ ]:
#4. Write a Python program to check whether a given key already exists in a dictionary.
a = {'Name' : 'Ram', 'Age' : 23,}

In [ ]:
'Name' in a

True

In [ ]:
#5. Write a Python program to iterate over dictionaries using for loops.
b = {"Name" : "Ram" , "Age" : 23 , "City" : "Salem", "Gender" : "Male"}
for x,y in b.items():
  print(x,':',y)

Name : Ram
Age : 23
City : Salem
Gender : Male

In [ ]:
#6. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
d = {}
n = int(input())
for i in range(1,n+1):
  d[i]=i*i
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#7.Write a Python script to print a dictionary where the keys are numbers between 1 and n (both included) and the values are square of keys.
d = {}
n = int(input())
for i in range(1,n+1):
  d[i]=i*i
print(d)

6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#8.Write a Python script to merge two Python dictionaries.
a = {"Name" : "Ram" , "Age" : 23}
b = {"City" : "Salem", "Gender" : "Male"}
a.update(b)
print(a)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}

In [ ]:
a = {"Name" : "Ram" , "Age" : 23}
b = {"Name" : "manu" , "Age" : 21}
a.update(b)
print(a)

{'Name': 'manu', 'Age': 21}

In [ ]:
#9.Write a Python program to iterate over dictionaries using for loops.
a = {"Name" : "Ram" , "Age" : 23 , "City" : "Salem", "Gender" : "Male"}
for x,y in a.items():
  print(x,':',y)

Name : Ram
Age : 23
City : Salem
Gender : Male

In [ ]:
#10. Write a Python program to sum all the items in a dictionary.
d = {1:23,2:45,3:-17,4:87}
print(sum(d.values()))

138

In [ ]:
#11. Access dictionary key’s element by index.
a = {"Name" : "Pooja", "Age" : 23, "Gender" : "Female", "City" : "Salem", "Mark" : 488}
for x in a.keys():
  print(x)

Name
Age
Gender
City
Mark

In [ ]:
#12. Drop empty Items from a given Dictionary
a = {'Name' : 'Pooja', 'Age' : 23, 'Gender' : None, 'Mark' : 488, 'City' : None}
a.pop('Gender')
a.pop('City')
print(a)

{'Name': 'Pooja', 'Age': 23, 'Mark': 488}

In [ ]:
#13. Create a dictionary of keys a, b, and c
a = { 'A' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      'Y' : [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
      'Z' : [21, 22, 23, 24, 25, 26, 27, 28, 29, 30] }
for x,y in a.items():
  print(x,'=',y)

A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Y = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Z = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
#14. Match key values in two dictionaries
A = {'Tamil': 92, 'English': 56, 'Maths': 88, 'Sceince': 97, 'Social': 89}
B= {'Tamil': 78, 'English': 68, 'Maths': 88, 'Sceince': 97, 'Social': 56}
for (key, value) in set(A.items()) & set(B.items()):
    print('%s: %s is present in both A and B' % (key, value))

Sceince: 97 is present in both A and B
Maths: 88 is present in both A and B

In [ ]:
A = {'Tamil': 92, 'English': 56, 'Maths': 88, 'Sceince': 97, 'Social': 89}
B= {'Tamil': 78, 'English': 68, 'Maths': 88, 'Sceince': 97, 'Social': 56}
#k = {}
for i in A.items():
  if i in B.items():
    print({i})

{('Maths', 88)}
{('Sceince', 97)}

In [ ]:
#15. Sort Counter by value

In [ ]:
#16. Write a Python program to count number of items in a dictionary value that is a list.
Dict = { 'M1' : [67,79,90,73,36], 'M2' : [89,67,84], 'M3' : [82,57] }
t = sum(map(len,Dict.values()))
print(t)

10

In [ ]:
#17. Write a Python program to check multiple keys exists in a dictionary.
Dict = { 'name' : 'Ram', 'age' : 23, 'city' : 'Salem' }
print(Dict.keys() >= {'age', 'name'})
print(Dict.keys() >= {'City', 'Ram'})

True
False

In [ ]:
#18. Write a Python program to print a dictionary line by line.
sub = {  "Sam" : {"M1" : 89, "M2" : 56, "M3" : 89},
          "Suresh" : {"M1" : 49, "M2" : 96, "M3" : 89} }
for a in Dict:
  print(a)
  for b in sub[a]:
    print(b,":",sub[a][b])

Sam
M1 : 89
M2 : 56
M3 : 89
Suresh
M1 : 49
M2 : 96
M3 : 89

In [ ]:
#19. Write a Python program to Convert two lists into a dictionary
keys = ["One", "Two", "Three", "Four", "Five"]
values = [1, 2, 3, 4, 5]
res = dict(zip(keys,values))
print(res)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [ ]:
#20. Write a Python program to Merge two Python dictionaries into one
a = {"Name" : "Ram" , "Age" : 25 , "City" : "Salem"}
b = {"Gender" : "Male" , "Mark" : 422 , "Percent" : 84.4}
a.update(b)
print(a)

{'Name': 'Ram', 'Age': 25, 'City': 'Salem', 'Gender': 'Male', 'Mark': 422, 'Percent': 84.4}

In [ ]:
#21. Write a Python program to Initialize dictionary with default values
stu = ["Siva", "Sam", "Ram", "Pooja"]
defaults = {"designation": "Student", "Department": "BCA"}

result = dict.fromkeys(stu, defaults)
print(result)


print("\nSiva :",result["Siva"])
print("\nSam :",result["Sam"])
print("\nRam :",result["Ram"])
print("\nPooja :",result["Pooja"])

{'Siva': {'designation': 'Student', 'Department': 'BCA'}, 'Sam': {'designation': 'Student', 'Department': 'BCA'}, 'Ram': {'designation': 'Student', 'Department': 'BCA'}, 'Pooja': {'designation': 'Student', 'Department': 'BCA'}}

Siva : {'designation': 'Student', 'Department': 'BCA'}

Sam : {'designation': 'Student', 'Department': 'BCA'}

Ram : {'designation': 'Student', 'Department': 'BCA'}

Pooja : {'designation': 'Student', 'Department': 'BCA'}

In [ ]:
#22. Create a dictionary by extracting the keys from a given dictionary
a = {'Name' : 'Ram', 'Age' : 23, 'City' : 'Salem', 'Gender' : 'Male', "Mark" : 450}
keys = ["Name","Age","Mark"]
n = {k:a[k] for k in keys}
print(n)

{'Name': 'Ram', 'Age': 23, 'Mark': 450}

In [ ]:
#23. Write a Python program to Delete a list of keys from a dictionary
Dictionary = {"Name" : "Tara", "RollNo" : 130046, "Mark" : 450, "Age" : 16, "Gender" : "Female", "City" : "Salem"}
Dictionary.pop("Gender")
Dictionary.pop("City")
print(Dictionary)

{'Name': 'Tara', 'RollNo': 130046, 'Mark': 450, 'Age': 16}

In [ ]:
#24. Write a Python program to Rename key of a dictionary
student = {
	"Name": "Tara",
	"RollNo":130046,
	"Mark": 458,
	"Age":16,
}
print("Before Rename Key of a Dictionary :",student)
student["Mark10"] = student.pop("Mark")
student["RegNo"] = student.pop("RollNo")
print("After Rename Key of a Dictionary :",student)

Before Rename Key of a Dictionary : {'Name': 'Tara', 'RollNo': 130046, 'Mark': 458, 'Age': 16}
After Rename Key of a Dictionary : {'Name': 'Tara', 'Age': 16, 'Mark10': 458, 'RegNo': 130046}

In [ ]:
#25. Write a Python program to Replace words from Dictionary
val = "Tutor joe's Computer Education"
print("Original string : ",val)

dic = {"Computer" : "Software ", "Education" : "Solution"}

word = val.split()
res = []
for w in word:
	res.append(dic.get(w, w))
res = ' '.join(res)
print("Replaced Strings : " ,res)

Original string :  Tutor joe's Computer Education
Replaced Strings :  Tutor joe's Software  Solution

In [ ]:
#26. Write a program to print only keys of a dictionary
Dictionary = {"Name" : "Tara", "RollNo" : 130046, "Mark" : 450, "Age" : 16, "Gender" : "Female", "City" : "Salem"}
for x in Dictionary:
  print(x)

Name
RollNo
Mark
Age
Gender
City

In [ ]:
#27. Write a program to print values of dictionary.
Dictionary = {"Name": "Tara", "RollNo":130046, "Mark": 450, "Age":16, "Gender":"Female", "City": "Salem"}
for x in Dictionary:
  print(Dictionary[x])

Tara
130046
450
16
Female
Salem

In [ ]:
#28. Write a program to sort dictionary by values (Ascending/ Descending).
import operator
d={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}

#Descending Order
des = sorted(d.items(),key=operator.itemgetter(1),reverse=True)
print("\nDescending Order :",des)

#Ascending Order
des = sorted(d.items(),key=operator.itemgetter(1))
print("\nAscending Order :",des)

Descending Order : [('m2', 89), ('m1', 78), ('m5', 71), ('m3', 64), ('m4', 35)]

Ascending Order : [('m4', 35), ('m3', 64), ('m5', 71), ('m1', 78), ('m2', 89)]

In [ ]:
#29. Write a program to get the maximum and minimum value of dictionary.
import operator
d={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}
v = d.values()
max = max(v)
min = min(v)
print(max)
print(min)

89
35

In [ ]:
#30. Write a program to sum all the values of a dictionary.
marks={"m1":92 , "m2":56 , "m3":88 , "m4":97 , "m5":89}
total = []
for i in marks.values():
	total.append(i)
print(sum(total))

422